body {
    margin: 0;

    #container {

        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 10%;
        width: 50%;
        border-radius: 5%;


        #onglets {
            margin: 0;

            display: flex;
            justify-content: flex-end;
            top: 0;
            height: 20%; // background-color: grey;
            list-style-type: none;

            li {
                width: 10%;
                color: black;
                padding: 5px 10px;
            }
            .first {
                background-color: #CCD1D1;
            }
            .second {
                background-color: #AEB2B2;
            }
        }
        #visuel {
            display: flex;
            flex-direction:column;
            width: 100%;
            border: 1px solid black;
            header {
                background-color: #CCD1D1;
                width: 100%;

                #barretaches {
                    display: flex;


                    select {
                        width: 100px;
                    }
                    li {
                        list-style: none;
                        margin-right: 10px;
                    }
                }
                main {

                    border-bottom: 1px solid;
                    border-left: 1px solid;
                    border-right: 1px solid;
                }
            }
        }
    }
}