body {
    margin: 0;
    box-sizing: border-box;
}

body #container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
    border-radius: 5%;
}

body #container #onglets {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    top: 0;
    height: 20%;
    list-style-type: none;
}

body #container #onglets li {
    width: 10%;
    color: black;
    border: 1px solid transparent;
    border-radius: 6px 6px 0px 0px;
    padding: 5px 10px;
}

body #container #onglets .first {
    background-color: #CCD1D1;
}

body #container #onglets .second {
    background-color: #AEB2B2;
}

body #container #visuel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

body #container #visuel header {
    background-color: #CCD1D1;
    width: 100%;
}

body #container #visuel header #barretaches {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-left: 10px;
    font-family: "Arial";
    font-size: 10px;
}

body #container #visuel header #barretaches select {
    margin-top: 5px;
    width: 100px;
}

body #container #visuel header #barretaches li {
    list-style: none;
    margin-right: 13px;
}

body #container #visuel header #barretaches li i {
    padding: 8px;
}

body #container #visuel header #barretaches li.tache {
    position: relative;
    border: 1px solid transparent;
}

body #container #visuel header #barretaches li.tache:hover {
    border: 1px solid white;
    background: #AEB2B2;
}

body #container #visuel header #barretaches li.tache:hover .infob {
    visibility: visible;
}

body #container #visuel header #barretaches li.tache .infob {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-top: 10px;
    margin-left: -40px;
}

body #container #visuel header #barretaches li.tache .infob::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

body #container #visuel main {
    border: 1px solid black;
    border-top: 0;
    padding: 10px;
}